@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Pacifico&display=swap');


/* styling general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f4f4f4;
}


/* Styling du header */

header {
    background-image: linear-gradient(rgba(41, 41, 41, 0.6),
            rgba(22, 22, 22, 0.6)), url(../images/banner.jpg);
    background-size: cover;
    height: 80vh;

}

header {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 5rem;
    font-family: "Pacifico", cursive;
    padding-bottom: .5rem;

}

header p {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header hr {
    border: none;
    padding-bottom: 2rem;
    border-top: 1px solid #fff;
    width: 37rem;
}

header a:visited,
header a:link {
    color: #fff;
    text-decoration-style: dotted;
}

/* Styling of the main section */
main {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}


/* styling de la premier section */

.first-container {
    margin: 4rem 0rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem;
    border-radius: 3px;

}

.icon-header {
    font-size: 5rem;
    color: #292D31;
    padding: 1rem;
    border: 2px solid #292D31;
    border-radius: 50%;
}

.first-container h2 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
}

.first-container p {
    width: 50%;
    text-align: center;
    color: #94999E;
    font-size: 1.2rem;
    line-height: 2rem;
}



/* styling de tout les boutons qui sont entourés d'une bordure */
.first-container a:link,
.first-container a:visited,
.grid-4 a:link,
.grid-4 a:visited,
.third-section a:link,
.third-section a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #292D31;
    padding: 1rem 2rem;
    border: 1px solid #292D31;
    border-radius: 3px;
    letter-spacing: .1rem;
}

.first-container a:link,
.first-container a:visited {
    font-size: 1.2rem;
    padding: 1.3rem 2.8rem;
}

/* Styling of the grid */

.grid-4 {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem;

}

.grid-4 p {
    color: #94999E;
    text-align: center;
    width: 80%;
}

.grid-4 a {
    font-size: 1rem;
}

.img-grid img {
    width: 100%;
    filter: brightness(0.6);

}


.img-grid {
    position: relative;
    text-align: center;
}

.img-grid h3 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.grid-ele {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #fff;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    padding-bottom: 4rem;
    border-radius: 3px;
    overflow: hidden;
}


/* styling de la dernière section Etiam */

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 10rem 0;
}

.third-section h2 {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.third-section p {
    width: 30%;
    ;
    color: #94999E;
    ;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;

    color: #94999E;
}

footer hr {
    width: 10%;
}

.footer-nav {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
}

.icon-link:link,
.icon-link:visited {
    font-size: 2rem;
    text-decoration: none;
    color: #94999E;
}

footer p {
    font-size: 1.3rem;
}

footer p a:link,
footer p a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #94999E;
}